server:
  port: ${PORT:8080}

spring:
  application:
    name: api-gateway
  main:
    web-application-type: reactive

  cloud:
    # ВАЖНО: полностью отключаем Spring Cloud Config, чтобы он не требовал spring.config.import
    config:
      enabled: false
      import-check:
        enabled: false

    gateway:
      routes:
        - id: root
          uri: http://example.com
          predicates:
            - Path=/health

management:
  endpoints:
    web:
      exposure:
        include: health,info
