server:
  port: ${PORT:8080}

spring:
  application:
    name: api-gateway
  main:
    web-application-type: reactive

  cloud:
    gateway:
      routes:
        - id: root
          uri: http://example.com
          predicates:
            - Path=/health

eureka:
  client:
    enabled: false

management:
  endpoints:
    web:
      exposure:
        include: health,info
